body {
    background-color: #fbfcff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
}

h1 {
    color: #00008B;
    text-align: center;
    padding: 30px 30px 30px 30px; /* Reduced top padding */
    flex-grow: 1;
}


table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th {
    background-color: #ff9f68;
    color: white;
    padding: 10px;
    text-align: center;
}

.gf-header {
    padding-top: 0px; /* Adjust this value as needed */
    margin-top: 0;
}

.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 20px auto;
    width: 80%;
    position: relative;  /* Add relative positioning here */
}

.timezone-wrapper-gf {
    text-align: right;  /* Pushes its children to the right */
}

.timezone-container-gf {
    display: inline-block;  /* This line is added */
    text-align: right;
    margin-top: 30px;
    padding-right: 10px; /* Adjust as needed for spacing from the right edge */
    margin-bottom: 0px; /* Adds some space between the timezone box and the h1 */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.timezone-container-gf label {
    margin-right: 10px;
}

.timezone-container-gf select {
    padding: 5px;
    border-radius: 5px;
}





.timezone-container {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.timezone-container label {
    margin-right: 10px;
}

.timezone-container select {
    padding: 5px;
    border-radius: 5px;
}


td{
    cursor: pointer;
    background-color: #eaf3f5;
    color: #333;
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
}

td.available{
    background-color: #40D376;
    color: white;
}

td.unavailable{
    background-color: #E85237;
    color: white;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
}