body {
    background-color: #fbfcff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
}

h1{
    color: #00008B;
    text-align: center;
    padding: 30px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th {
    background-color: #ff9f68;
    color: white;
    padding: 10px;
    text-align: center;
}


.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 20px auto;
    width: 80%;
    position: relative;  /* Add relative positioning here */
}

.timezone-container-gf {
    position: absolute;
    right: 0;  /* Position it to the rightmost edge of .header-container */
    top: 52.5%;  /* Center it vertically */
    transform: translateY(-50%);  /* Adjust for exact vertical centering */
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px; 
    box-sizing: border-box;
}

.timezone-container-gf label {
    margin-right: 10px;
    white-space: nowrap;
}

.timezone-container-gf select {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}




.timezone-container {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.timezone-container label {
    margin-right: 10px;
}

.timezone-container select {
    padding: 5px;
    border-radius: 5px;
}


td{
    cursor: pointer;
    background-color: #eaf3f5;
    color: #333;
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
}

td.available{
    background-color: #40D376;
    color: white;
}

td.unavailable{
    background-color: #E85237;
    color: white;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
}